.NavBar {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fffbd8, #ffffff);
    width: 100%;
    text-align: center;
    margin: 0;
}

.header-index {
    background: radial-gradient(circle, rgb(241, 205, 0), rgb(255, 255, 255));
    width: 100%;
    height: auto;
    text-align: center;

    img {
        width: auto;
        height: 400px;
        object-fit: contain;
        align-items: center;
    }
}

.eslogan {
    padding: 20px;
    background: linear-gradient(to bottom, #fffbd8, #ffffff);
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    width: auto;

    h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        font-style: italic;
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(200px + 75.6px);
    height: auto;
}

.card-body {
    padding: 20px;
}

.producto-imagen {
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.producto-card {
    width: 300px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.btn {
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 60000px;
    max-height: 80%;
    overflow-y: auto;
}

.imagen-modal {
    text-align: center;
    margin-bottom: 20px;

    img {
        width: 500px;
        height: auto;
        border-radius: 5px;
    }
}



.navegacion-imagenes {
    text-align: center;
    margin-top: 10px;
}

.navegacion-imagenes button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.navegacion-imagenes button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.close {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card-title {
    h3 {
        font-size: 1rem;
    }
}
