.NavBar {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fffbd8, #ffffff);
    width: 100%;
    text-align: center;
    margin: 0;
}

.header-index {
    background: radial-gradient(circle, rgb(241, 205, 0), rgb(255, 255, 255));
    width: 100%;
    height: auto;
    text-align: center;

    img {
        width: auto;
        height: 400px;
        object-fit: contain;
        align-items: center;
    }
}

.eslogan {
    padding: 20px;
    background: linear-gradient(to bottom, #fffbd8, #ffffff);
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    width: auto;

    h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        font-style: italic;
    }
}


.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, #fffbd8, #ffffff);
    margin: 0.5rem;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.categoria-tarjeta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 100%; 
    padding: 5px;

}



.cerrar-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
        background-color: darkred;
    }
}

.catalogo-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.item-list-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.catalogo-tarjeta {
    margin: 20px auto;
    padding: 20px;    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    border-radius: 10px;
    width: auto;

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        background-color: #ccc; 
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        background-image: linear-gradient(to bottom,#dcdf98,#3a8d9f);


    }
    
}

.catalogo-body {
    display: flex;
    flex-direction: column;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 100%; 
    padding: 5px;
    
    h2{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        padding: 20px;
        background-color: #ccc;
        background-image: linear-gradient(to bottom,#dcdf98,#3a8d9f);
    }
}

.contenedor-lista {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ccc; 
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-image: linear-gradient(to bottom,#dcdf98,#3a8d9f);
    width: 100%;

    

}

.categoria-button {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom,#204c55, #555823);
    color: #fff;
    border: gray;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;


    &:hover {
        background-image: linear-gradient(to bottom,#3a8d9f, #dcdf98);
    }
}
